extends layout/auth_app

block content
    div
        if list.length !== 0
            ul
            each item in list
                li
                    a(href=`/home/watch/${item._id}`) watch
                    br
                    label=`Title= ${item.title}`
                    br
                    label=`Owner= ${item.owner}`
                    br
                    label=`Finished= ${item.finished}`
        else
            p=error
